<div class="container">
    <h1 class="text-center mt-2 mb-2">Productos</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Acetaminofen</td>
            <td>Prueba</td>
            <td>10</td>
            <td>10000</td>
          </tr>
         
        </tbody>
      </table>
</div>